<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="shortcut icon" href="/images/fav.png" type="image/png">
    <link rel="stylesheet" href="/css/main.css">
    <title>Home</title>
</head>

<body>
    {{>header}}

    <div class="container">
        <div class="login-cards">
            <a href="/admin">
                <div class="login-card">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <h3>Admin Portal</h3>
                </div>
            </a>
            <a href="/staff">
                <div class="login-card">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <h3>Staff Portal</h3>
                </div>
            </a>
            <a href="/doctor">
                <div class="login-card">
                    <i class="fa fa-user-md" aria-hidden="true"></i>
                    <h3>Doctor Portal</h3>
                </div>
            </a>
        </div>
    </div>

    {{>footer}}
</body>

</html>