<div class="header">
    <h2><a href="/staff">Staff Portal</a></h2>
    <ul>
        <li><a href="/staff/changePassword">Change Password</a></li>
        <li><a href="/staff/logout">Logout</a></li>
    </ul>
</div>