.container {
    min-height: 100vh;
}

.header {
    height: 70px;
    background: rgba(0, 0, 0, 0.8);
    align-items: center;
    color: white;
    padding: 20px 30px;
}

.header h2 {
    float: left;
}

.header ul {
    float: right;
}

.header a {
    text-decoration: none;
    color: white;
}

.header ul li {
    margin-left: 20px;
    margin-top: 6px;
    list-style: none;
    display: inline-block;
}

.footer {
    height: 40px;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.footer a {
    color: rgb(84, 84, 247);
}