<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Bill</title>
    <style>
        body {
            text-align: center;
            padding: 80px;
        }

        h2 {
            margin-bottom: 50px;
        }
    </style>
</head>

<body>
    <h2>Bill Generated</h2>
    <a href="/staff/download" target="_blank">Download Bill</a>
</body>

</html>